/* app css stylesheet */

.brand-icon {
  padding-right: 5px;
}

.bt-create-work-order {
  margin-bottom: 5px;
  margin-top: 5px;
}

.close-order {
  float: right;
  color: #ff4d4d;
  font-size: 1.5em;
  cursor: pointer;
}

.change-status-button{
  cursor: pointer;
}

.heading {

}