/* app css stylesheet */

.brand-icon {
  padding-right: 5px;
}

.bt-create-work-order {
  margin-bottom: 5px;
  margin-top: 5px;
}

.close-order {
  float: right;
  color: #ff4d4d;
  font-size: 1.5em;
  cursor: pointer;
}

.delete-order {
  float: right;
  color: #a3a3c2;
  font-size: 1.5em;
}

.change-status-button{
  cursor: pointer;
}

.heading {

}

.eachEntry {
  cursor: pointer;
}

.delete-key {
  background: red;
  cursor: pointer;
  color: white;
}

.delete-key:hover {
  background: #b30000;
}