<div class="container">
  <!-- nav.html template file goes here -->
  <nav class="navbar navbar-inverse">
    <navigation />
  </nav>
  <div ng-show="$ctrl.isContentHidden">
    <login-signup />
  </div>
    <!-- User control section -->
  <div ng-hide="$ctrl.isContentHidden">
  <div class="row">
    <!-- User Profile -->
    <div class="col-md-4"">
      <!-- user-profile.html template file goes here -->
      <user-profile />
    </div>
    <!-- User Controls -->
    <div class="col-md-8">

      <!-- news-feed.html template file goes here -->
        <news-feed complete-work-orders="$ctrl.completeWorkOrders" in-progress-work-orders="$ctrl.inProgressWorkOrders"/>

    </div>
  </div>
  <!-- Work order feed -->
  <div class="row">
    <div class="col-md-12">
      <!-- work-order-entry.html template used to place work-order entries here -->
      <work-order-feed app-get-work-orders="$ctrl.getWorkOrders" app-work-orders="$ctrl.workOrders"/>
      <!-- when a user clicks on one, it is replaced with a work-order-expanded.html view. -->
    </div>
  </div>
  </div>
</div>