<!-- user profile template -->
<div class="row">
    <div class="col-md-4">
      <div class="panel panel-primary text-center">
        <div class="panel-heading">Snake Plissken</div>
        <div class="panel-body">
          <div class="row">
            <img src="http://vignette2.wikia.nocookie.net/p__/images/6/68/2252541-snake_l.jpeg/revision/latest?cb=20140314003849&path-prefix=protagonist" alt="Snake Plissken" width="160">
          </div>

          <div class="row">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            JS Ninja
          </div>

          <div class="row">
            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
            1-800-351-1566
          </div>

        </div>
      </div>
    </div>
  </div>