<!-- user profile template -->
<!-- has a corresponding css file user_profile.css in the css folder -->
<div class="panel panel-primary text-center">
  <div class="panel-heading">{{$ctrl.userFullName}}</div>
  <div class="panel-body">
    <div class="row">
      <img ng-src="{{$ctrl.userPhoto}}" alt="Snake Plissken" width="160">
      <div class="upload-photo">
        <button class="btn change-photo-button" ng-click="$ctrl.toggleUploadPhoto()" ng-if="$ctrl.isHidden"> Change Photo </button>
        <form name="form" ng-submit="$ctrl.uploadUserPhoto(photo)" ng-if="!$ctrl.isHidden">
          <input ng-model="photo" type="text" name="userphoto" id="userphoto" class="input-box form-control" placeholder="Web link for your photo" required/>
          <button type="submit" class="btn btn-primary"> Update </button>
        </form>
      </div>
    </div>

    <!-- basic information for each user -->
    <div class="row">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      {{$ctrl.userName}}
    </div>
  </div>
</div>