<!-- Expanded full view of work order TODO: figure out where/how this renders on page in index.html -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3><span class="label label-primary">Work Order #{{$ctrl.orderInformation.id}} - {{$ctrl.orderInformation.is_done}}</span></h3>
    <span class="glyphicon glyphicon-remove" ng-click="$ctrl.close()"></span>
  </div>
  <div class="panel-body">
    <div class="row">

      <!-- Work order image -->
      <div class="col-md-6">
        <img src={{$ctrl.orderInformation.photo}} alt="broken pipe" width="480">
      </div>

      <!-- Work order details -->
      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item"><b>Created:</b> {{$ctrl.orderInformation.created_at}}</li>
          <li class="list-group-item"><b>Estimated time:</b> {{$ctrl.orderInformation.duration}}</li>
          <li class="list-group-item"><b>Client:</b> {{$ctrl.orderInformation.client}}</li>
        </ul>

        <!--      JOB DETAILS      -->
        <div class="panel panel-primary">
          <div class="panel-heading text-center">
            Job Details
          </div>
          <div class="panel-body">
             {{$ctrl.orderInformation.job_info}}
          </div>
        </div>

          <!--      JOB NOTES      -->
          <div class="panel panel-warning">
            <div class="panel-heading text-center">
              Job Notes
            </div>
            <div class="panel-body">
                <!-- <div ng-repeat="note in {{$ctrl.orderInformation.notes}}"></div> -->
                {{$ctrl.orderInformation.notes}}
               <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="submitNote()"></span>
                </span>
                <input type="text" class="form-control" placeholder="Enter notes for the work order here" aria-describedby="basic-addon1">
              </div>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading text-center" ng-click="$ctrl.changeStatus()">
              Change Status
            </div>
          </div>
      </div>
    </div>
  </div>
</div>