<div class="well text-center">




  <!-- This section is a div to store the create new work order view.  It is hidden on page load and toggles when the create work order button is pressed. -->
  <div class="create-work-order-form-section">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Create New Work Order</h3>
      </div>
      <div class="panel-body">
      <!-- Input groups for creating new work order -->

        <!-- Client Name -->
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Client:</span>
          <input type="text" class="form-control wo-client-name" ng-model="$ctrl.woClientName" placeholder="Enter Client Name" aria-describedby="basic-addon1">
        </div>

        <!-- Estimated Duration -->
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Estimated Duration:</span>
          <input type="text" class="form-control wo-estimated-duration" ng-model="$ctrl.woEstimatedDuration" placeholder="Ex: 6 hours, 4 weeks, 12 business days" aria-describedby="basic-addon1">
        </div>

          <!-- Job Details -->
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Details:</span>
            <input type="text" class="form-control wo-job-details" ng-model="$ctrl.woJobDetails" placeholder="Enter Job Details" aria-describedby="basic-addon1">
          </div>

          <!-- Image URL -->
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Photo URL:</span>
            <input type="text" class="form-control wo-photo-url" ng-model="$ctrl.woPhotoUrl" placeholder="http://vignette2.wikia.nocookie.net/p__/images/6/68/2252541-snake_l.jpeg/revision/latest?cb=20140314003849&path-prefix=protagonist" aria-describedby="basic-addon1">
          </div>

          <!-- Show warning message if fields were not entered -->
          <div class="row" ng-if="$ctrl.invalidFields">
            <i class="invalid-fields">All fields are required.</i>
          </div>


        <!-- Button for creating new work orders -->
        <button type="button" class="btn btn-lg btn-primary bt-create-work-order" data-dismiss="alert" ng-click="$ctrl.createWorkOrder($event); $ctrl.getWorkOrders()">Submit</button>

      </div>
    </div>
  </div>

  <!-- Use Angular here to do an ng-repeat to put all work orders into the well -->
  <div ng-if="$ctrl.show">
    <work-order-expanded toggle="$ctrl.toggle" get-work-orders="$ctrl.getWorkOrders" app-get-work-orders="$ctrl.appGetWorkOrders"/>
  </div>
    <div class="entry-feed-section">
      <work-order-entry class="eachEntry" ng-repeat="order in orders" order="order" ng-click="$ctrl.expandOrder(order)" />
    </div>
</div>