<!-- Expanded view for each work order after the user clicks on the entry in the feed -->
<div class="panel panel-danger expanded-panel">
  <div class="panel-heading text-center heading">

  <!-- Expanded view header -->

    Work Order #{{$ctrl.orderInformation.id}} - {{$ctrl.statusString}}
    <span class="glyphicon glyphicon-remove close-order" ng-click="$ctrl.toggle()"></span>
  </div>
  <div class="panel-body">
    <div class="row">

      <!-- Work order image -->
      <div class="col-md-6">
        <img src={{$ctrl.orderInformation.photo}} alt="broken pipe" width="480">
      </div>

      <!-- Work order details -->
      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item"><b>Created:</b> {{$ctrl.orderInformation.created_at}}</li>
          <li class="list-group-item"><b>Billable Hours:</b> {{$ctrl.orderInformation.duration}}</li>
          <li class="list-group-item"><b>Client:</b> {{$ctrl.orderInformation.client}}</li>
          <li class="list-group-item"><b>Created By:</b> {{$ctrl.orderInformation.username}}</li>
          <li class="list-group-item"><b>Accepted By: </b> {{$ctrl.orderInformation.workername}}</li>
        </ul>

        <!--      JOB DETAILS      -->
        <div class="panel panel-primary">
          <div class="panel-heading text-center">
            Job Details
          </div>
          <div class="panel-body">
             {{$ctrl.orderInformation.job_info}}
          </div>
        </div>

        <!--    DELETE WORK ORDER    -->
        <!-- <div class="panel accept-key" ng-click="$ctrl.acceptWorkOrder(); $ctrl.toggle(); "> -->
        <div ng-show="!$ctrl.workername" class="panel accept-key" ng-click="$ctrl.acceptWorkOrder(); $ctrl.toggle();">
          <!-- removed $ctrl.appGetWorkOrders() to fix refresh bug -->
          <div class="panel-heading text-center">
            <div></div>
          Accept Work Order
          </div>
        </div>
          <!--      JOB NOTES      -->
          <div class="panel panel-warning">
            <div class="panel-heading text-center">
              Job Notes
            </div>
            <p class="notes-panel" id="notes-list">{{$ctrl.noteList}}</p>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="$ctrl.submitNoteOnClick();"></span>
              </span>
              <input type="submitNote" id="notes-input" class="form-control" placeholder="Enter notes for the work order here" aria-describedby="basic-addon1" ng-keypress="$ctrl.submitNoteOnEnter($event); $ctrl.appGetWorkOrders" ng-model="$ctrl.newNote">
            </div>
            <button type="button" id="notes-button" class="btn btn-md btn-primary" ng-click="$ctrl.submitNoteOnClick();">Submit
            </button>
          </div>

          <div class="panel">
            <div id="done-button" class="panel-heading text-center change-status-button" ng-click="$ctrl.changeStatus(); $ctrl.toggle();" ng-if="$ctrl.workername && !$ctrl.is_done">
              Complete
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
